@font-face {
    font-family: 'LifeSaversRegular';
    src: local('LifeSaversRegular'), url(../../fonts/lifesavers/LifeSaversRegular.ttf) format('truetype')
}

@font-face {
    font-family: 'LifeSaversBold';
    src: local('LifeSaversBold'), url(../../fonts/lifesavers/LifeSaversBold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'LifeSaversExtraBold';
    src: local('LifeSaversExtraBold'), url(../../fonts/lifesavers/LifeSaversExtraBold.ttf) format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'MysteryQuestRegular';
    src: local('MysteryQuestRegular'), url(../../fonts/mystery-quest/MysteryQuestRegular.ttf) format('truetype');
}

@font-face {
    font-family: 'MrDafoeRegular';
    src: local('MrDafoeRegular'), url(../../fonts/mr-dafoe/MrDafoe-Regular.ttf) format('truetype');
}