@font-face {
    font-family: 'Boeotia';
    src: local('Boeotia'), url(../../fonts/Boeotia/Boeotia.ttf) format('truetype');
}

@font-face {
    font-family: 'SevenEleven';
    src: local('SevenEleven'), url(../../fonts/Seven-Eleven/SevenEleven-rPm7.ttf) format('truetype');
}

@font-face {
    font-family: 'JuraRegular';
    src: local('JuraRegular'), url(../../fonts/Jura/JuraRegular.ttf) format('truetype');
}

@font-face {
    font-family: 'JuraSemiBold';
    src: local('JuraSemiBold'), url(../../fonts/Jura/JuraSemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'JuraBold';
    src: local('JuraBold'), url(../../fonts/Jura/JuraBold.ttf) format('truetype');
}