@use 'fonts';

:root {
  // Colors
  --color-highlight-1: #714fa8;
  --color-highlight-2: #7de3c3;
  --color-highlight-3: #90dcff;
  --color-highlight-4: #e6637a;
  --color-highlight-5: #fdfcc5;

  --color-light-1: #ebebeb;
  --color-light-2: #c9c9c9;
  --color-light-3: #adadad;

  --color-dark-1: #1e1c21;
  --color-dark-2: #100f12;
  --color-dark-3: #070608;

  // Shadows
  --shadow-sm: 0 1px 0.5rem rgba(0, 0, 0, 0.5);

  --text-shadow-techno: -0.1rem -0.1rem 0.1rem var(--color-highlight-1),
    -0.2rem -0.2rem 0.1rem var(--color-highlight-2),
    -0.3rem -0.3rem 0.1rem var(--color-highlight-4),
    -0.4rem -0.4rem 0.1rem var(--color-highlight-5);

  --text-shadow-hover: -0.1rem -0.1rem 0.1rem var(--color-highlight-1),
    -0.2rem -0.2rem 0.2rem var(--color-highlight-2),
    -0.3rem -0.3rem 0.3rem var(--color-highlight-3),
    -0.4rem -0.4rem 0.4rem var(--color-highlight-4),
    -0.5rem -0.5rem 0.5rem var(--color-highlight-5);

  // Spacing

  // Typography

  --font-main: 'JuraRegular', sans-serif;
  --font-label: 'Boeotia', serif;
  --font-heading: 'SevenEleven', sans-serif;
  --font-semi-bold: 'JuraSemiBold', sans-serif;
  --font-bold: 'JuraBold', sans-serif;

  // Font Size

  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  @media (min-width: 35em) {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }

  @media (min-width: 45em) {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}
