.color-hl-1 {color: var(--color-highlight-1);}
.color-hl-2 {color: var(--color-highlight-2);}
.color-hl-3 {color: var(--color-highlight-3);}
.color-hl-4 {color: var(--color-highlight-4);}
.color-hl-5 {color: var(--color-highlight-5);}

.color-light-1 {color: var(--color-light-1);}
.color-light-2 {color: var(--color-light-2);}
.color-light-3 {color: var(--color-light-3);}

.color-dark-1 {color: var(--color-dark-1);}
.color-dark-2 {color: var(--color-dark-2);}
.color-dark-3 {color: var(--color-dark-3);}

.bg-hl-1 {background-color: var(--color-highlight-1);}
.bg-hl-2 {background-color: var(--color-highlight-2);}
.bg-hl-3 {background-color: var(--color-highlight-3);}
.bg-hl-4 {background-color: var(--color-highlight-4);}
.bg-hl-5 {background-color: var(--color-highlight-5);}

.bg-light-1 {background-color: var(--color-light-1);}
.bg-light-2 {background-color: var(--color-light-2);}
.bg-light-3 {background-color: var(--color-light-3);}

.bg-dark-1 {background-color: var(--color-dark-1);}
.bg-dark-2 {background-color: var(--color-dark-2);}
.bg-dark-3 {background-color: var(--color-dark-3);}