.back-case {
  height: 40.6rem;
  width: 43rem;
  margin: 2rem 3.5rem 1.5rem 0;
  display: inline-block;
  border-radius: 0.3rem;
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.6),
    inset 0 0 2rem 0.2rem rgba(0, 0, 0, 0.4),
    inset 0 0 0.5rem 0.1rem rgba(255, 255, 255, 0.6),
    inset 0 0 0 0.1rem rgba(255, 255, 255, 0.2);

  &__back-art {
    height: 39rem;
    width: 39rem;
    border-radius: 0.3rem;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0.5 0.1 rgba(0, 0, 0, 0.5),
      inset 0 0 1.6rem 0.2rem rgba(0, 0, 0, 0.1),
      inset 0 0 0 0.1rem rgba(255, 255, 255, 0.3);
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -2;
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0)
      ),
      url('img/profile-pictures/joel-kid-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.8);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: var(--font-heading);
    font-size: var(--fs-700);
    letter-spacing: 1rem;
    color: var(--color-highlight-4);
  }

  &__column {
    padding: 1rem;
}

&__stack-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      &:first-child {
          margin-top: -1.5rem;
      }
    &--item {
        margin: 0.3rem 0;
        text-shadow: 0.1rem 0.1rem 0.5rem var(--color-highlight-5), 0.5rem 0.5rem 1rem var(--color-highlight-1);
    }
  }

  &__spine {
  }
}
