// .profile-container {

//     &__img {
//         width: 7rem;
//     }

//     &__skill-list {

//         &--item {

//         }
//     }

//     &__profile-text {

//     }

//     &__profile-links {

//         &--icon {
//             height: 2rem;
//             width: 2rem;
//         }
//     }
// }

.cd-case {
  height: 20.6rem;
  width: 23rem;
  margin: 2rem 0 1.5rem 3.5rem;
  display: inline-block;
  border-radius: 0.3rem;
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.6),
    inset 0 0 2rem 0.2rem rgba(0, 0, 0, 0.4),
    inset 0 0 0.5rem 0.1rem rgba(255, 255, 255, 0.6),
    inset 0 0 0 0.1rem rgba(255, 255, 255, 0.2);

  &__album-art {
    height: 20rem;
    width: 20rem;
    border-radius: 0.3rem;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0.5 0.1 rgba(0, 0, 0, 0.5),
      inset 0 0 1.6rem 0.2rem rgba(0, 0, 0, 0.1),
      inset 0 0 0 0.1rem rgba(255, 255, 255, 0.3);
    position: relative;
    top: 0.3rem;
    left: 2.5rem;
    z-index: -2;
    background: linear-gradient(
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0)
    ), url('img/profile-pictures/joel-kid-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
