.numbered-title {
  font-family: var(--font-heading);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 0.472rem;

  span {
    margin-right: 0.5em;
    font-family: var(--font-label);
    color: var(--color-highlight-3);
    text-shadow: var(--text-shadow-techno);
  }
}
